{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Règlement du Site des Propriétaires{% endblock %}

{% block body %}
<div style="min-height: 50vh">

	<h1 class="ptitre">Règlement du Site des Propriétaires</h1>
	<div class="reglement">
		<h3>
			Règlement</h3>
        {# FT: Boucler sur les reglements : passer la variable reglements dans le rendering #} {% for reglement in reglements %}
        {# Ne pas escaper le HTML = on veut garder le contenu saisi par l'admin: DANGEREUX, si l'admin fait n'importe quoi  #}{% autoescape false %}
        {# on affiche le texte #} {{ reglement.texte }}
        {# fin de l'auto escape #} {% endautoescape %}
        {% else %} {# aucun reglement #}
            Aucun règlement
        {% endfor %} {# Fin de la boucle #}
	</div>
</div>

{% endblock %}
