{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}


{% block body %}
<h1>Service</h1>
<table>
<tr><td>
<table class="table table-striped">
<tr><td class="td-gauche" rowspan=2><h4>Prêt Occasion</h4></td>



<tr><td class="text-end"> longe: 20 euros</td>
{# <tr><td class="text-"> licol: 15 euros</td> #}
</br>
</tr>
<tr><td class="td-gauche" rowspan=2><h4>Nettoyage Couverture</h4></td>
<td class="text-end"> Societé Net, Pauline  : 06 01 01 01 01</td></tr>
</table>
</td></tr>
</table>
{% endblock %}
