{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<h1> Service : </h1>


    <h3>Prêt de Materiel</h3>
    <h3>Nettoyage Couverture</h3>



{% endblock %}
