{% extends 'base-backend.html.twig' %}
{% block title %}Nouvel Evenement{% endblock %}

{% block body %}
<a href="{{ path('app_admin_evenement_sante_index') }}" class="btn btn-dark">Retour à la liste</a>
    <h1>Nouvel Evenement</h1>

    {{ include('admin_evenement_sante/_form.html.twig') }}

    
{% endblock %}
