footer{
    position:relative;
    bottom: 0;
    right: 0;
    left: 0;
}

html{
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
}


.td-gauche{
    width:20%;
}
.scrolltable {
    overflow-y: scroll;
    position:absolute;
    bottom: 58px;
    margin-bottom:0;
}

.soins li{
    padding:10px;
    margin:10px;
    background: rgb(229, 226, 226);

}

.card-img-top {
   max-width:100px;
   max-height:100px;
   min-width:100px;
   min-height:100px;
   margin-left:auto;
   margin-right:auto;
   margin-top : auto;
}

h1,h2,h3 {
    color: black;
    font-family: 'Cinzel', serif;
}

.intro {
    text-align: center;
    font-size: 3vw;
}
.ptitre {
    text-align: left;
    font-size: 3vw;
}
.nav-link {
    font-size: 1.5vw;
}
.logo {
    height: 10vw;
}

.navbar {
/*    --bs-navbar-padding-x: 0.5rem;
    --bs-navbar-padding-y: 0.5rem;*/
    --bs-navbar-color: greenyellow;
    --bs-navlink-color: green;
    --bs-navbar-hover-color: white;
    --bs-navbar-disabled-color: gray;
    --bs-navbar-active-color: white;
}
/*
.navbar-nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
} */

.tiptext {
    color:#069; 
    cursor:pointer;
}

.tipdescription {
    display:none;
    position:absolute;
    border:solid #000;
    left: 100px;
    top: 0px;
    min-width: 500px;
    min-height: 500px;
}

.logout {
    text-align: end;
    color : yellowgreen;
    font-size: 2vw;
    margin: 5px;
    padding-right: 5px;
}
.imageAcc {
    min-width: 100%;
    width: 100%;
/*    position:absolute;
    bottom: 58px;
    margin-bottom:0;*/
}

.reglement {
    border: thick double black;;
    border-radius: 20px;
}

.container-fluid .scrolltable{
    display: flex;
    justify-content: end;

}

.cavalier {
    display: flex;
    font-size: 70px;
    justify-self: flex-start;
    margin-left: 10%;
    margin-top: 5%;
}

.nom {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-align: end;
}

.image{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
}
.cheval{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.img-list {
    width: 100px;
    max-width : 100px;
}