{% extends 'base.html-back.twig' %}


{% block title %}Modifier Reglement{% endblock %}

{% block body %}
<a href="{{ path('app_admin_reglement_index') }}" class="btn btn-dark">Retour à la liste</a>
    <h1>Modifier Reglement</h1>

    {{ include('admin_reglement/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('admin_reglement/_delete_form.html.twig') }}
{% endblock %}
