{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Modifier un Evènements{% endblock %}

{% block body %}
    <h1 class="ptitre">Modifier un Evènements</h1>
    {{ include('evenement/_form.html.twig', {'button_label': 'Modifier'} )}}
    <a href="{{ path('app_evenement')}}">Gérer les Evènements</a>

{% endblock %}
