{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier Utilisateur</h1>
    {{ include('evenement/_form.html.twig', {'button_label': 'Modifier'} )}}
    <a href="{{ path('app_evenement')}}">Gérer les Evènements</a>

{% endblock %}
