{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Modifier mon cheval{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center my-4">
<div><a href="{{ path('app_front_cheval_index') }}" class="btn btn-dark ">Retour à la liste</a></div>

{{ include('front_cheval/_delete_form.html.twig') }}   
</div>
    <h1 class="pritre">Modifier mon cheval</h1>
    {{ include('front_cheval/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}

{% block javascripts %}
<script>
{# AJOUT DE SOINS  #}
{# etape 2 : on déclare la fonction déclenché au click, #}
const addFormToCollection = (e) => {
  //on déclare une constante dans laquelle on récupère l ul associé au bouton par son attribut data-collection-holder-class
  // e correspond à l'èvenement (click) currentTarget correspond à l'objet HTML ayant déclenché l'evenement
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

// on déclare une constante dans laquelle on crée un objet HTML <li> 
  const item = document.createElement('li');
//dans la <li> on vient mettre le code HTML , du formulaire d'un évenement de santé  que l'on récupère dans l'attribut data-prototype de l'<ul> (collectionHolder)
  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );
    addTagFormDeleteLink(item);
    // on rajoute la <li> dans l <ul> , dans le DOM
  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
};


{# etape 1 : on récupère tous les objets HTML ayant la class add_item_link , et on leur rajoute un écouteur d'évènement pour le click qui déclenche la fonction addFormToCollection #}
document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

{# SUPPRESSION DE SOINS #}

const addTagFormDeleteLink = (item) => {
    const removeFormButton = document.createElement('button');
    removeFormButton.classList.add("btn","btn-danger");
    removeFormButton.innerText = 'Supprimer le soin';

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the tag form
        item.remove();
    });
}
document
    .querySelectorAll('ul.soins li')
    .forEach((soin) => {
        addTagFormDeleteLink(soin)
    })
</script>
{% endblock %}