{% extends 'base.html.twig' %}

{% block title %}New Cheval{% endblock %}

{% block body %}
<a href="{{ path('app_front_cheval_index') }}" class="btn btn-dark">Retour à la liste</a>
    <h1>Nouveau</h1>

    {{ include('front_cheval/_form.html.twig') }}

    
{% endblock %}
