{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Modifier un Cavalier{% endblock %}

{% block body %}
    <a href="{{ path('app_front_cavalier_index') }}" class="btn btn-dark">Retour à la liste</a> 
    <h1 class="ptitre">Modifier un Cavalier</h1>

    

    {{ include('front_cavalier/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <hr>
    {{ include('front_cavalier/_delete_form.html.twig') }}

    
{% endblock %}
