{% extends 'base.html.twig' %}
{% block title %}Les propriétaires du Haras de la Cense{% endblock %}
{% block body %}
<div class="container-fluid"> 
<img src="images/cheval/bienvenuecheval.png" class="imageAcc">
</div>
{% endblock %}
