{% extends 'base.html.twig' %}

{% block title %}Hello CavalierController!
{% endblock %}

{% block body %}
	<table class="table table-striped">
		<tr>
			<th>Cavalier</th>
		</tr>
		{% for cavalier in cavaliers %}
		
			<tr>
				<td>
					<a href="{{ path('app_cavalier_show', {'id': cavalier.id}) }}" class="btn btn-dark">{{ cavalier.prenom }} {{ cavalier.nom }}
				</td>
			</tr>
		{% else %}
		<tr>
			<td>Aucun cavalier </td>
		</tr>
		
		{% endfor %}
	</table>

{% endblock %}
