{% extends 'base.html.twig' %}

{% block title %}Nouveau User{% endblock %}

{% block body %}
<a href="{{ path('app_front_user_index') }}" class="btn-btn-dark">Retour à la liste</a>
    <h1>Nouveau Propriétaire</h1>

    {{ include('front_user/_form.html.twig') }}

    
{% endblock %}
