{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Contacts{% endblock %}

{% block body %}
<div style="min-height: 50vh">
<h1 class="ptitre">Les Contacts</h1>
<table>
<tr><td>
<table class="table table-striped">
<tr><td class="td-gauche" rowspan=2><h4>Moniteurs</h4></td>
        <td class="text-end">Manu : 06 01 01 01 01</td></tr>
        <tr><td class="text-end">Marine : 06 01 01 01 01</td>
</tr>
 <tr><td class="td-gauche"><h4>Samu</h4></td><td class="text-end">15</td></tr>
 <tr><td class="td-gauche"><h4>Pompiers</h4></td><td class="text-end">18</td></tr>
 <tr><td class="td-gauche"><h4>Véto Urgences</h4></td><td class="text-end">06 01 01 01 01</td></tr>
 <tr><td class="td-gauche"><h4>Ostéo</h4></td><td class="text-end">06 01 01 01 01</td></tr>
</table>
</td></tr>
</table>
</div>
{% endblock %}
