{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contact :</h1>
        <h3>Moniteur : </h3>
        <p> Marine : 06 01 01 01 01</p>
        <p> Manu : 07 01 01 01 01</p>
        <br>
        <hr>
        <h3>Contacts Utiles :</h3>
        <p> Samu: 15</p>
        <p> Pompier : 17</p>
        <p> Véto Urgence : 06 01 01 01 01</p>
        <p> Ostéo : 06 01 01 01 01</p>
        

    
{% endblock %}
