{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Propriétaires {% endblock %}

{% block body %}
	<div style="min-height: 50vh">
		<h1 class="ptitre">Les Propriétaires</h1>
		<div class="d-flex flex-wrap justify-content-center">

			{% for proprietaire in proprietaires %}
				<div class="col-12 col-md-3 col-lg-2 px-3  d-flex">
					<div class="card">
						<img src="{{asset('images/user/' ~ proprietaire.avatar.imageName)}}"  class="card-img-top" alt="...">
						<div class="card-body d-flex flex-wrap">
							<h5 class="card-title text-center w-100">{{proprietaire.prenom}}
								{{proprietaire.nom}}</h5>
							<a href="{{ path('app_proprietaire_show', {'id': proprietaire.id}) }}" class="btn btn-dark align-self-end mx-auto">Voir fiche</a>
						</div>
					</div>
				</div>


			{% else %}
				{# aucun proprietaire #}

				<p>Aucun proprietaire</p>

			{% endfor %}
			{# Fin de la boucle #}
		</div>
	</div>

{% endblock %}
